body {
  margin: 0 auto;
  width: 100%;
}

.header {
  border: 1px solid;
}

.main-wrapper {
  height: 80vh;
  border: 1px solid;
  padding: 1%;
}

.left {
  height: 100%;
  width: 79%;
  border: 1px solid red;
  display: inline-block;
}

.right {
  height: 100%;
  width: 20%;
  border: 1px solid violet;
  display: inline-block;
}

.footer {
  clear: both;
  border: 1px solid pink;
}
