body {
  margin: 0 auto;
  width: 100%;
}

.header {
  border: 1px solid;
}


.left_nav {
  height: 92vh;
  width: 20%;
  border: 1px solid blue;
  float: left;
}

.main_right {
  height: 92vh;
  width: 79%;
  border: 1px solid green;
  float: right;
}

.footer {
  border: 1px solid red;
  width: 79%;
  position: fixed;
  bottom: 0;
}
