body {
  background-color: #eee;
  position: relative;
  margin: 0 auto;
  width: 1080px;
}

#logo {
  border: 2px solid #000;

}
.main-content {
  border: 2px solid #6f3e33;
  height: 100vh;
  margin: 5px 0px 5px 0px;
}
#footer {
  border: 2px solid #000;
}
